{% load static %}
<footer class="ftco-footer">
		<div class="container mb-5 pb-4">
			<div class="row">
				<div class="col-lg col-md-6">
					<div class="ftco-footer-widget">
						<h2 class="ftco-heading-2 logo d-flex align-items-center"><a href="#"><span class="flaticon-health flaticon"></span><span>ARS CMD</span></a></h2>
						<p>Far far away, behind the word mountains, far from the countries.</p>
						<ul class="ftco-footer-social list-unstyled mt-4">
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg col-md-6">
					<div class="ftco-footer-widget">
						<h2 class="ftco-heading-2">Procesos</h2>
						<ul class="list-unstyled">
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Neurologia</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Oftalmologia</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Estudios Especiales</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Rayos-X</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Quirurgicos</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Cardiologia</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Odontologia</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg col-md-6">
					<div class="ftco-footer-widget">
						<h2 class="ftco-heading-2">Links</h2>
						<ul class="list-unstyled">
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Inicio</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Nosotros</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Servicios</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Medicos</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Noticias</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Planes</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contacto</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg col-md-6">
					<div class="ftco-footer-widget">
						<h2 class="ftco-heading-2">Services</h2>
						<ul class="list-unstyled">
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Emergency Help</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Qualified Doctors</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Location &amp; Directions</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Medical Treatment</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg col-md-6">
					<div class="ftco-footer-widget">
						<h2 class="ftco-heading-2">Tienes Pregunta?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="fa fa-map-marker mr-3"></span><span class="text">Calle Ing. Huascar Tejada No. 54, Santo Domingo, Zona Universitaria, DN</span></li>
								<li><a href="#"><span class="fa fa-phone mr-3"></span><span class="text">809-534-5488</span></a></li>
								<li><a href="#"><span class="fa fa-paper-plane mr-3"></span><span class="text">info@arscmd.com.do</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-primary py-5">
			<div class="row">
				<div class="col-md-12 text-center">
					
					<p class="mb-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://devsdesign.org" target="_blank">DevsDesign</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
			</div>
		</footer>