<!DOCTYPE html>
<html lang="en">
<?php require_once("models/head.php");?>
<body>
	
<?php require_once("models/heead.php");?>
	<!-- END nav -->
	
	<section class="hero-wrap js-fullheight" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
				<div class="col-lg-6 ftco-animate">
					<div class="mt-5">
						<h1 class="mb-4">Cuidando tu Salud y la de los Tuyos</h1>
						<p class="mb-4">Lorem ipsum es el texto que se usa habitualmente en diseño gráfico o de moda en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final..</p>
						<div class="row">
							<div class="col-md-7 col-lg-10">
								<form action="#" class="appointment-form-intro ftco-animate">
									<div class="d-flex">
										<div class="form-group">
											<div class="form-field">
												<div class="select-wrap">
													<div class="icon"><span class="fa fa-chevron-down"></span></div>
													<select name="" id="" class="form-control">
														<option value="">Procesos</option>
														<option value="">Afililarte como Titular</option>
														<option value="">Afiliar Hijos</option>
														<option value="">Afiliar esposo/a</option>
														<option value="">Afiliar Padres</option>
														<option value="">Solicitar Cobertura</option>
														<option value="">Informacion sobre Centros</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group">
											<input type="submit" value="Solicitar proceso" class="btn-custom form-control py-3 px-4">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-2 bg-light">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-7 py-5">
					<div class="py-lg-5">
						<div class="row justify-content-center pb-5">
							<div class="col-md-12 heading-section ftco-animate">
								<h2 class="mb-3">Bienvenidos a <span>ARS CMD</span></h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
								<div class="media block-6 services d-flex">
									<div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-ambulance"></span></div>
									<div class="media-body pl-md-4">
										<h3 class="heading mb-3">Ayuda de Emergencia</h3>
										<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
									</div>
								</div>      
							</div>
							<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
								<div class="media block-6 services d-flex">
									<div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-ophthalmologist"></span></div>
									<div class="media-body pl-md-4">
										<h3 class="heading mb-3">Medicos Calificados</h3>
										<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
									</div>
								</div>      
							</div>
							<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
								<div class="media block-6 services d-flex">
									<div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-flag"></span></div>
									<div class="media-body pl-md-4">
										<h3 class="heading mb-3">Sucursales &amp; Direcciones</h3>
										<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
									</div>
								</div>      
							</div>
							<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
								<div class="media block-6 services d-flex">
									<div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-stethoscope"></span></div>
									<div class="media-body pl-md-4">
										<h3 class="heading mb-3">Tratamiento Medico</h3>
										<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
									</div>
								</div>      
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 d-flex">
					<div class="appointment-wrap p-4 p-lg-5 d-flex align-items-center">
						<form action="#" class="appointment-form ftco-animate">
							<h3>Solicitar Servicio</h3>
							<div class="">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Nombres">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Apellidos">
								</div>
							</div>
							<div class="">
								<div class="form-group">
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="fa fa-chevron-down"></span></div>
											<select name="" id="" class="form-control">
												<option value="">Seleccione el Servicio</option>
												<option value="">Afiliacion</option>
												<option value="">Traspaso</option>
												<option value="">Cobertura</option>
												<option value="">Autorizacion</option>
												<option value="">Otros Servicios</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Telefono">
								</div>
							</div>
							<div class="">
								<div class="form-group">
									<div class="input-wrap">
										<div class="icon"><span class="fa fa-calendar"></span></div>
										<input type="text" class="form-control appointment_date" placeholder="Fecha de Solicitud">
									</div>
								</div>
								
							<div class="">
								<div class="form-group">
									<textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Mensage"></textarea>
								</div>
								<div class="form-group">
									<input type="submit" value="Appointment" class="btn btn-secondary py-3 px-4">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-6 col-lg-5 d-flex">
					<div class="img w-100 d-flex align-self-stretch align-items-center" style="background-image:url(images/about.jpg);">
					</div>
				</div>
				<div class="col-md-6 col-lg-7 pl-lg-5 py-md-5">
					<div class="py-md-5">
						<div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section ftco-animate p-4 p-lg-5">
								<h2 class="mb-4">Somos la <span>ARS CMD</span> Tu Aseguradora Confiable</h2>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
								<p><a href="#" class="btn btn-primary py-3 px-4">Visitanos Hoy</a> <a href="#" class="btn btn-secondary py-3 px-4">Contactanos</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-intro img" style="background-image: url(images/bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-7">
					<h2>Tu Salud es Nuestra prioridad</h2>
					<p>We can manage your dream building A small river named Duden flows by their place</p>
					<p class="mb-0"><a href="#" class="btn btn-white px-4 py-3">Make An Appointment</a></p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">Procedimientos<span> En Cobertura</span></h2>
				</div>
			</div>
			<div class="row tabulation mt-4 ftco-animate">
				<div class="col-md-3">
					<ul class="nav nav-pills nav-fill d-block w-100">
						<li class="nav-item text-left">
							<a class="nav-link active d-flex align-items-centere py-4" data-toggle="tab" href="#services-1"><span class="flaticon-health flaticon mr-3"></span> <span>Neurologia</span></a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link py-4 d-flex align-items-center" data-toggle="tab" href="#services-2"><span class="flaticon-health flaticon mr-3"></span> <span>Oftalgologia</span></a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link py-4 d-flex align-items-center" data-toggle="tab" href="#services-3"><span class="flaticon-health flaticon mr-3"></span> <span>Estudios Especiales</span></a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link py-4 d-flex align-items-center" data-toggle="tab" href="#services-4"><span class="flaticon-health flaticon mr-3"></span> <span>Rayos-X</span></a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link py-4 d-flex align-items-center" data-toggle="tab" href="#services-5"><span class="flaticon-health flaticon mr-3"></span> <span>Quirurgicos</span></a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link d-flex align-items-centerm py-4" data-toggle="tab" href="#services-6"><span class="flaticon-health flaticon mr-3"></span> <span>Cardiologia</span></a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link d-flex align-items-centerm py-4" data-toggle="tab" href="#services-7"><span class="flaticon-health flaticon mr-3"></span> <span>Odontologia</span></a>
						</li>
					</ul>
				</div>

				<div class="col-md-9">
					<div class="tab-content pt-4 pt-md-0 pl-md-3">
						<div class="tab-pane container p-0 active" id="services-1">
							<div class="row">
								<div class="col-md-5 img" style="background-image: url(images/dept-1.jpg);"></div>
								<div class="col-md-7 text pl-md-4">
									<h3><a href="#">Neurologia</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
									<ul>
										<li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
										<li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
										<li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
										<li><span class="fa fa-check"></span>She packed her seven versalia</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane container p-0 fade" id="services-2">
							<div class="row">
								<div class="col-md-5 img" style="background-image: url(images/dept-2.jpg);"></div>
								<div class="col-md-7 text pl-md-4">
									<h3><a href="#">Oftalmologia</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
									<ul>
										<li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
										<li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
										<li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
										<li><span class="fa fa-check"></span>She packed her seven versalia</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane container p-0 fade" id="services-3">
							<div class="row">
								<div class="col-md-5 img" style="background-image: url(images/dept-3.jpg);"></div>
								<div class="col-md-7 text pl-md-4">
									<h3><a href="#">Estudios Especiales</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
									<ul>
										<li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
										<li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
										<li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
										<li><span class="fa fa-check"></span>She packed her seven versalia</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane container p-0 fade" id="services-4">
							<div class="row">
								<div class="col-md-5 img" style="background-image: url(images/dept-4.jpg);"></div>
								<div class="col-md-7 text pl-md-4">
									<h3><a href="#">Rayos-X</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
									<ul>
										<li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
										<li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
										<li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
										<li><span class="fa fa-check"></span>She packed her seven versalia</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane container p-0 fade" id="services-5">
							<div class="row">
								<div class="col-md-5 img" style="background-image: url(images/dept-5.jpg);"></div>
								<div class="col-md-7 text pl-md-4">
									<h3><a href="#">Quirurgicos</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
									<ul>
										<li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
										<li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
										<li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
										<li><span class="fa fa-check"></span>She packed her seven versalia</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane container p-0 fade" id="services-6">
							<div class="row">
								<div class="col-md-5 img" style="background-image: url(images/dept-6.jpg);"></div>
								<div class="col-md-7 text pl-md-4">
									<h3><a href="#">Cardiologia</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
									<ul>
										<li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
										<li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
										<li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
										<li><span class="fa fa-check"></span>She packed her seven versalia</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane container p-0 fade" id="services-7">
							<div class="row">
								<div class="col-md-5 img" style="background-image: url(images/dept-7.jpg);"></div>
								<div class="col-md-7 text pl-md-4">
									<h3><a href="#">Odontologia</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
									<ul>
										<li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
										<li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
										<li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
										<li><span class="fa fa-check"></span>She packed her seven versalia</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container-fluid px-5">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">Medicos Calificados</h2>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(images/doc-1.jpg);"></div>
						</div>
						<div class="text text-center">
							<h3 class="mb-2">Dr. Lloyd Wilson</h3>
							<span class="position mb-2">Neurologist</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(images/doc-2.jpg);"></div>
						</div>
						<div class="text text-center">
							<h3 class="mb-2">Dr. Rachel Parker</h3>
							<span class="position mb-2">Ophthalmologist</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(images/doc-3.jpg);"></div>
						</div>
						<div class="text text-center">
							<h3 class="mb-2">Dr. Ian Smith</h3>
							<span class="position mb-2">Dentist</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(images/doc-4.jpg);"></div>
						</div>
						<div class="text text-center">
							<h3 class="mb-2">Dr. Alicia Henderson</h3>
							<span class="position mb-2">Pediatrician</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-facts img ftco-counter" style="background-image: url(images/bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 p-4">
						<div class="text">
							<strong class="number" data-number="32">0</strong>
							<span>Años de Experienca</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 p-4">
						<div class="text">
							<strong class="number" data-number="42000">0</strong>
							<span>Cantidad de Afiliados</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 p-4">
						<div class="text">
							<strong class="number" data-number="8000">0</strong>
							<span>Medicos Activos</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 p-4">
						<div class="text">
							<strong class="number" data-number="2800">0</strong>
							<span>Centros Activos</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section bg-light">
		<div class="container-fluid px-md-5">
			<div class="row justify-content-center mb-5 pb-5">
				<div class="col-md-10 heading-section text-center ftco-animate">
					<h2 class="mb-4">Ultimas Noticias</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-lg-4 ftco-animate">
					<div class="blog-entry">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
						</a>
						<div class="d-flex">
							<div class="meta pt-3 text-right pr-2">
								<div><a href="#"><span class="fa fa-calendar mr-2"></span>Aug. 12, 2020</a></div>
								<div><a href="#"><span class="fa fa-user mr-2"></span>Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a></div>
							</div>
							<div class="text d-block">
								<h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
								<p><a href="blog.html" class="btn btn-secondary btn-outline-secondary py-2 px-3">Read more</a></p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 ftco-animate">
					<div class="blog-entry">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
						</a>
						<div class="d-flex">
							<div class="meta pt-3 text-right pr-2">
								<div><a href="#"><span class="fa fa-calendar mr-2"></span>Aug. 12, 2020</a></div>
								<div><a href="#"><span class="fa fa-user mr-2"></span>Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a></div>
							</div>
							<div class="text d-block">
								<h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
								<p><a href="blog.html" class="btn btn-secondary btn-outline-secondary py-2 px-3">Read more</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 ftco-animate">
					<div class="blog-entry">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
						</a>
						<div class="d-flex">
							<div class="meta pt-3 text-right pr-2">
								<div><a href="#"><span class="fa fa-calendar mr-2"></span>Aug. 12, 2020</a></div>
								<div><a href="#"><span class="fa fa-user mr-2"></span>Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a></div>
							</div>
							<div class="text d-block">
								<h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
								<p><a href="blog.html" class="btn btn-secondary btn-outline-secondary py-2 px-3">Read more</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section img" style="background-image: url(images/bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center pb-3">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<span class="subheading">Testimonios</span>
					<h2 class="mb-4">Que dicen Nuestros Afiliados</h2>
				</div>
			</div>
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel ftco-owl">
						<div class="item">
							<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between">
								<div class="user-img" style="background-image: url(images/person_1.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Jeff Freshman</p>
									<span class="position">Patients</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between">
								<div class="user-img" style="background-image: url(images/person_2.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Jeff Freshman</p>
									<span class="position">Patients</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between">
								<div class="user-img" style="background-image: url(images/person_3.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Jeff Freshman</p>
									<span class="position">Patients</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between">
								<div class="user-img" style="background-image: url(images/person_1.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Jeff Freshman</p>
									<span class="position">Patients</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between">
								<div class="user-img" style="background-image: url(images/person_3.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Jeff Freshman</p>
									<span class="position">Patients</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<?php require_once("models/footer.php") ?>
		
		

		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-migrate-3.0.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.animateNumber.min.js"></script>
		<script src="js/bootstrap-datepicker.js"></script>
		<script src="js/jquery.timepicker.min.js"></script>
		<script src="js/scrollax.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="js/google-map.js"></script>
		
		<script src="js/main.js"></script>
		
	</body>
	</html>